
<div class="container-fluid">
  <div class="row">
    <div class="login col-md-12">
      <form>
        <h2>Sign in Your Account</h2>
        <input type="text" placeholder="Username" class="input col-md-10 offset-1">
        <input type="password" placeholder="Password" class="input col-md-10 offset-1">
        <button class="submit btn btn-primary col-md-10 offset-1">Login</button>
        <p>Not a member? <a href="http://localhost:4200/register">Sign up now</a><span class="fontawesome-arrow-right"></span></p>
      </form>
    </div>
  </div>
</div>



