.header {
  height: 80px;
  background-color: #333333;
}
.logo {
  margin-left: 1%;
  line-height: 80px;
  display: inline-block;
}
.logout {
  float: right;
  margin-right: 1%;
  line-height: 75px;
}
