.container-fluid {
  margin-top: 80px;
  background-color: #8E8F93;
  background-size: cover;
  height: 950px;
}

.form-group {
  padding: 30px;
  max-width: 500px;
  width: 100% !important;
  background-color: #333333;
  margin: 0 auto;
  border-radius: 10px;
  height: auto;
  margin-top: 10%;
}
.form-group p, h2 {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}
.input {
  background: none;
  border: 1px solid lightgrey;
  height: 60px;
  margin-top: 12px;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
}
.submit {
  height: 60px;
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 20px;
}
